#edit
  - form_tag url(:notes, :update), :method => "patch", :class => "note" do
    .textbox
      = hidden_field_tag :"note[id]", :value => @note.id
      = hidden_field_tag :author, :value => current_user.id
      %header
        = text_field_tag :"note[title]", :value => @note.title, :placeholder => "Title"
      %section
        = find_and_preserve text_area_tag :"note[body]", :id => "redactor", :value => @note.body.markdown, :placeholder => "Begin writing your note here..."
      %footer
        = hidden_field_tag :"existing-tags", :value => @note.tags_str
        = text_field_tag :"tags", :class => "tags", :placeholder => "Tags"
    %footer
      %p
        %select.chosen{:"data-placeholder" => "Attach some sources", :multiple => true, :name => "note[source_ids][]"}
          - @sources.each do |s|
            %option{:value => s[:id], :selected => s[:selected]}= safe(s[:text])
      %p
        %button.primary{:type => "submit"}
          %i.ss-icon check
        %a.btn.orange{:href => @note.project.url}
          %i.ss-icon close
