%article.note
  %header
    %h5= link_to note.title, note.project.path("/notes/#{note.id}")
    %ul.tags
      %li
        %a{href: ""}
          %span foobar
      %li
        %a{href: ""}
          %span barfoo
  %section
    = truncate(note.text, length: 150, separator: ' ')
  %footer
    %ul.contributors
      - note.authors.each do |user|
        %li
          %a{href: "/#{user.username}", rel: "tipsy", title: user.name}
            %img.avatar{src: user.gravatar}
    %p.meta= "<a href='#{note.path}'>#{note.updated_at.strftime('%e %B %Y at %l:%M%P')}</a>".html_safe
