%article.note{'data-tags' => note.tags.join(',')}
  %header
    %h5= link_to note.title, note.project.path("/notes/#{note.id}")
    %ul.tags
      - if note.tags
        - note.tags.each do |tag|
          %li
            %span= link_to tag, note.project.path("/notes#filters=#{tag.to_s}")
  %section
    - if note.text.blank?
      %p.empty This note is blank.
    - else
      = note.text.html_safe
  %footer
    %ul.contributors
      - note.authors.each do |user|
        %li
          %a{href: "/#{user.username}", rel: "tipsy", title: user.name}
            %img.avatar{src: user.gravatar}
    %p.meta= "<a href='#{note.path}'>#{note.updated_at.strftime('%e %B %Y at %l:%M%P')}</a>".html_safe
