= render :partial => "projects/header", locals: { project: @view_project, section: :notes }
= content_for(:title, "#{view_note.title} · Notes · #{@view_project.title}")

.note-show
  - if current_user && current_user.can_update?(@view_project)
    = form_tag note_path(id: view_note.id), method: :patch, class: 'note', remote: true do |f|
      = hidden_field_tag :current_user, current_user.id, class: 'current_user'
      = hidden_field_tag :user, params[:user]
      = hidden_field_tag :project, params[:project]
      = hidden_field_tag 'note[id]', view_note.id, class: 'note-id'

      %header
        %section
          %h3
            = text_field_tag :title, view_note.title, class: 'note-title', placeholder: 'Title of note'
          .actions
            %span.message
            = submit_tag "Save", class: "small submit note-submit"
        .details
          .time
            %i.ss-icon clock
            %span= view_note.updated_at_formatted
          .people
            %ul.collaborators
              - view_note.all_modifiers.each do |u|
                %li= link_to image_tag(u.gravatar, class: 'avatar'), "/#{u.username}", rel: "tipsy", title: u.name

        .tags
          %i.ss-icon tags
          %span= text_field_tag 'note[tags]', view_note.tags_string, class: 'selectize note-tags', placeholder: 'Type a tag name, then hit comma.', tabindex: '2'

      .editable#editable.note-text{'data-placeholder' => 'Your text. Highlight to format.', tabindex: '3'}= view_note.text.html_safe
      = text_area_tag 'note[text]', view_note.text, class: 'hidden text', id: 'text'
  - else
    %header
      %section
        %h3= view_note.title
      .details
        .time
          %i.ss-icon clock
          %span= view_note.updated_at_formatted
        .people
          %ul.collaborators
            - view_note.all_modifiers.each do |u|
              %li= link_to image_tag(u.gravatar, class: 'avatar'), "/#{u.username}", rel: "tipsy", title: u.name

      .tags
        %i.ss-icon tags
        -# %span= text_field_tag 'note[tags]', view_note.tags_string, class: 'selectize note-tags', placeholder: 'Type a tag name, then hit comma.', tabindex: '2'
        %span= view_note.tags_string

    .note-text= view_note.text.html_safe
