= render :partial => "projects/header", locals: { project: current_project, section: :notes }
.note-show
  - if current_user && current_user.can_update?(current_project)
    = form_tag note_path(id: current_note.id), method: :patch, class: 'grid-form note' do |f|
      = hidden_field_tag :user, params[:user]
      = hidden_field_tag :project, params[:project]
      = hidden_field_tag 'note[id]', current_note.id
      %fieldset
        %div{'data-row-span' => '1'}
          %div{'data-field-span' => '1'}
            .container.paddingless
              .col-22
                = text_field_tag 'note[title]', current_note.title
              .col-2.omega
                = submit_tag "Save", class: "small submit"
        %div{'data-row-span' => '1'}
          %div{'data-field-span' => '1'}
            .container.paddingless
              = text_field_tag 'note[tags]', current_note.tags_string, class: 'selectize', placeholder: 'Tags'
        .editable#editable{'data-placeholder' => 'Your body text...'}= current_note.text.html_safe
        = text_area_tag 'note[text]', current_note.text, class: 'hidden text', id: 'text'

  - else
    .content
      %header.content-header
        %h3= current_note.title
      .text= current_note.text.html_safe
