= render :partial => "projects/header", locals: { project: @view_project, section: :notes }
= content_for(:title, "#{view_note.title} · Notes · #{@view_project.title}")

.note-show
  - if current_user && current_user.can_update?(@view_project)
    = form_tag note_path(id: view_note.id), method: :patch, class: 'grid-form note', remote: true do |f|
      = hidden_field_tag :current_user, current_user.id, class: 'current_user'
      = hidden_field_tag :user, params[:user]
      = hidden_field_tag :project, params[:project]
      = hidden_field_tag 'note[id]', view_note.id, class: 'note-id'

      %header
        %h3
          = text_field_tag :title, view_note.title, class: 'note-title', placeholder: 'Title of note'
        %ul.meta
          %li
            %i.ss-icon clock
            %span= view_note.updated_at_formatted

          %li
            %i.ss-icon tag
            %span
              %ul.tags
                - view_note.tags.each do |tag|
                  %li= tag
          %li
            %i.ss-icon users
            %span
              %ul.collaborators
                - view_note.all_modifiers.each do |u|
                  %li= link_to image_tag(u.gravatar, class: 'avatar'), "/#{u.username}"
