= render :partial => "projects/header", locals: { project: current_project, section: :notes }
= content_for(:title, "#{current_note.title} · Notes · #{current_project.title}")
.note-show
  - if current_user && current_user.can_update?(current_project)
    = form_tag note_path(id: current_note.id), method: :patch, class: 'grid-form note', remote: true do |f|
      = hidden_field_tag :current_user, current_user.id, class: 'current_user'
      = hidden_field_tag :user, params[:user]
      = hidden_field_tag :project, params[:project]
      = hidden_field_tag 'note[id]', current_note.id, class: 'note-id'
      %fieldset
        %div.title-row{'data-row-span' => '1'}
          %div{'data-field-span' => '1'}
            .container.paddingless
              %section.col-20.title-container
                = text_field_tag 'note[title]', current_note.title, class: 'note-title', placeholder: 'Title.', tabindex: '1'
              .col-4.omega.note-actions
                = submit_tag "Save", class: "small submit"
                %span.message
        %div.tags-row{'data-row-span' => '1'}
          %div{'data-field-span' => '1'}
            .container.paddingless
              = text_field_tag 'note[tags]', current_note.tags_string, class: 'selectize note-tags', placeholder: 'Type a tag name, then hit comma.', tabindex: '2'
        .editable#editable.note-text{'data-placeholder' => 'Your text. Highlight to format.', tabindex: '3'}= current_note.text.html_safe
        = text_area_tag 'note[text]', current_note.text, class: 'hidden text', id: 'text'

  - else
    .content
      %header.content-header
        %h3= current_note.title
      .text= current_note.text.html_safe
