#project
  = partial 'projects/header', :locals => { :project => @project, :user => @user }
  %section#note
    = partial 'partials/flash', :locals => { :flash => flash }
    - if current_user && @note.updatable_by?(current_user)
      .tabs
        %header
          %ul
            %li
              %a{:href => "#view"}
                %i.ss-icon view
                %span View
            %li
              %a{:href => "#edit"}
                %i.ss-icon edit
                %span Edit
        = partial 'notes/view', :locals => { :note => @note }
        = partial 'notes/edit', :locals => { :note => @note }
    - else
      = partial 'notes/view', :locals => { :note => @note }

  - if current_user
    = partial "partials/comments", :locals => { :comments => @note.comments, :source => { :type => "Note", :id => @note.id } }

