#project
  = partial 'projects/header', :locals => { :project => @project, :user => @user }
  %section#source
    - form_tag url(:sources, :create), :class => "manual", :method => "post" do
      = hidden_field_tag :project, :value => @project.id
      = hidden_field_tag :author, :value => current_user.id
      %aside
        %p= select_tag :"source[type]", :placeholder => "Source Type", :options => Source.options
      %section
        %article{:"data-type" => "book"}
          = hidden_field_tag :"book[type]", :value => "book"
          %table
            %tr.border
              %td Contributors
              %td
                %ul.contributors
                  %li{:"data-num" => "0", :"data-type" => "book"}
                    = select_tag :"book[contributors][0][role]", :options => [["Author", "author"], ["Editor", "editor"], ["Translator", "translator"], ["Compiler", "compiler"]]
                    = text_field_tag :"book[contributors][0][first]", :class => "first", :placeholder => "John"
                    = text_field_tag :"book[contributors][0][middle]", :class => "middle", :placeholder => "Q", :maxlength => "1"
                    = text_field_tag :"book[contributors][0][last]", :class => "last", :placeholder => "Sample"
                    = text_field_tag :"book[contributors][0][suffix]", :class => "suffix", :placeholder => "Jr"
                %a.btn.add{:"data-action" => "add-contributor"}
                  %i.ss-icon plus
                  Contributor
            %tr
              %td Title
              %td= text_field_tag :"book[title]", :class => "full"
            %tr
              %td Publication
              %td
                = text_field_tag :"book[publisher]", :class => "third", :placeholder => "Publisher"
                = text_field_tag :"book[city]", :class => "third", :placeholder => "City"
                = text_field_tag :"book[year]", :class => "third", :placeholder => "Year"
            %tr
              %td Advanced
              %td
                = text_field_tag :"book[volume]", :class => "third", :placeholder => "Volume"
                = text_field_tag :"book[edition]", :class => "third", :placeholder => "Edition"
                = text_field_tag :"book[series]", :class => "third", :placeholder => "Series"
            %tr
              %td
              %td
                %a.btn{:href => @project.url} Cancel
                %button.primary{:type => "submit"} Cite
