#project
  = partial 'projects/header', :locals => { :project => @project, :user => @user }
  %section#source
    - form_tag url(:sources, :search), :class => "search", :method => "post" do
      .field
        %p
          %input{:name => "query", :results => "5", :type => "text"}
          %button.primary{:type => "submit"} Search
    - form_tag url(:sources, :create), :class => "manual", :method => "post" do
      = hidden_field_tag :project, :value => @project.id
      = hidden_field_tag :author, :value => current_user.id
      %aside
        %p= select_tag :"source[type]", :placeholder => "Source Type", :options => Source.options
      %section
        %article{:"data-type" => "book"}
          = hidden_field_tag :"book[type]", :value => "book"
          %table
            %tr
              %td Contributors
              %td
                %ul.contributors
                  %li
                    = select_tag :"book[contributors][0][role]", :options => [["Author", "author"], ["Editor", "editor"], ["Translator", "translator"], ["Compiler", "compiler"]]
                    = text_field_tag :"book[contributors][0][first]", :placeholder => "First"
                    = text_field_tag :"book[contributors][0][middle]", :class => "small", :placeholder => "Middle"
                    = text_field_tag :"book[contributors][0][last]", :placeholder => "Last"
                    = text_field_tag :"book[contributors][0][suffix]", :class => "small", :placeholder => "Suffix"
                    %a.btn
                      %i.ss-icon plus
            %tr
              %td Title
              %td= text_field_tag :"book[title]", :class => "large"
            %tr
              %td Publication
              %td
                = text_field_tag :"book[publisher]", :placeholder => "Publisher"
                = text_field_tag :"book[city]", :placeholder => "City"
                = text_field_tag :"book[year]", :placeholder => "Year"
            %tr
              %td Advanced
              %td
                = text_field_tag :"book[volume]", :placeholder => "Volume"
                = text_field_tag :"book[edition]", :placeholder => "Edition"
                = text_field_tag :"book[series]", :placeholder => "Series"
          %p
            %button.primary{:type => "submit"} Cite
