#project
  = partial 'projects/header', :locals => { :project => @project, :user => @user }
  %section#source
    - if current_user && @source.updatable_by?(current_user)
      .tabs
        %header
          %ul
            %li
              %a{:href => "#view"}
                %i.ss-icon view
                %span View
            %li
              %a{:href => "#edit"}
                %i.ss-icon edit
                %span Edit
        = partial 'sources/view', :locals => { :citation => @citation }
        = partial 'sources/edit', :locals => { :source => @source, :citation => @source.citation }
    - else
      = partial 'sources/view', :locals => { :citation => @citation }
  = partial "partials/comments", :locals => { :comments => @source.comments, :source => { :type => "Source", :id => @source.id } }
