.row
  %h3 Projects
  %ul.breadcrumbs
    %li
      %a{:href => url(:index)} Home
    %li
      %a{:href => url(:users, :index)} Users
    %li
      %a{:href => url(:users, :view, :id => @project.user.id)}= @project.user.name
    %li.current
      %a{:href => url(:projects, :view, :id => @project.id)}= @project.title
  %h2= @project.title
.row
  .large-6.columns
    %table
      %thead
        %tr
          %th Key
          %th Value
      %tbody
        %tr
          %td ID
          %td
            %pre= @project.id
        %tr
          %td Title
          %td= @project.title
        %tr
          %td Description
          %td= safe(@project.description)
        %tr
          %td Collaborators
          %td
            %ul
              %li
                %a{:href => url(:users, :view, :id => @project.creator.id)}= @project.creator.username
              - @project.collaborators.each do |c|
                %li
                  %a{:href => url(:users, :view, :id => c.id)}= c.username
        %tr
          %td Created At
          %td= @project.created_at
        %tr
          %td Updated At
          %td= @project.updated_at
        %tr
          %td Creator
          %td
            - if @project.creator
              %a{:href => url(:users, :view, :id => @project.creator.id)}= @project.creator.username
        %tr
          %td Updater
          %td
            - if @project.updater
              %a{:href => url(:users, :view, :id => @project.updater.id)}= @project.updater.username
        %tr
          %td Deleted?
          %td
            - if @project.deleted_at.nil?
              No
            - else
              = "Yes (at #{@project.deleted_at})"
  .large-6.columns
    %table
      %thead
        %tr
          %th Actor
          %th Recipient
          %th Action
          %th Timestamp
      %tbody
        - Activity.within(@project.id).all.each do |a|
          %tr
            %td= a.actor.username
            %td
              - if a.recipient.is_a?(Note) or a.recipient.is_a?(Project)
                = a.recipient.title
              - else
                = a.recipient.citation.html
            %td= a.action
            %td= a.created_at
.row
  .large-6.columns
    %h4 Notes
    %table
      %thead
        %tr
          %th ID
          %th Title
          %th Actions
      %tbody
        - @project.notes.order('updated_at dsc').each do |n|
          %tr
            %td
              %pre= n.id
            %td= n.title
            %td
              %a{:href => url(:notes, :view, :id => n.id)} View
  .large-6.columns
    %h4 Sources
    %table
      %thead
        %tr
          %th ID
          %th Citation
          %th Actions
      %tbody
        - @project.sources.order('updated_at dsc').each do |s|
          %tr
            %td
              %pre= s.id
            %td= safe(s.citation.html)
            %td
              %a{:href => url(:sources, :view, :id => s.id)} View
.row
  %h4 Comments
  %table
    %thead
      %tr
        %th ID
        %th User
        %th Comment
    %tbody
      - @project.comments.each do |c|
        %tr
          %td
            %pre= c.id
          %td= c.user.username
          %td= safe(c.body)
