%section
  - if @user == current_user
    .flash
      %h4 Welcome to Noted.
      %p Thanks for trying out Noted. Please understand that this is a beta version of the site &mdash; expect some quirks. If you do run into a bug, or you have a suggestion, email us at <a href="mailto:hello@getnotedapp.com">hello@getnotedapp.com</a>.
  %section.owned
    %header
      %h3 Projects
    - if @owned.blank?
      .empty
        - if @user == current_user
          %p You don't have any projects yet!
          %p.go
            %a.btn.primary{:href => url(:projects, :new)} Make a Project
        - else
          %p Nothing to see here, move along.
    - @owned.each do |project|
      %article
        %header
          .inner
            %h4
              %a{:href => project.url}= project.title
        %section.text
          .inner
            = safe(project.description)
        %footer
          .inner
            %p= project.updated_at.localtime.strftime("%e %B %Y, %H:%M")

  %section.collaborations
    %header
      %h3 Collaborations
    - if @collaborations.blank?
      .empty
        - if @user == current_user
          %p You're not collaborating on any projects.
        - else
          %p= "#{@user.name} isn't collaborating on any projects."
    - @collaborations.each do |project|
      %article
        %header
          .inner
            %h4
              %a{:href => project.url}= project.title
        %section.text
          .inner
            = safe(project.description)
        %footer
          .inner
            %p= project.updated_at.localtime.strftime("%e %B %Y, %H:%M")
