- form_tag url(:users, :create), :method => 'post' do
  %p= text_field_tag "user[name]", :placeholder => "name"
  %p= text_field_tag "user[email]", :placeholder => "email"
  %p= text_field_tag "user[username]", :placeholder => "username"
  %p= password_field_tag "password", :placeholder => "password"
  %p= button_tag "submit", :type => "submit"