#join
  %header
    %h2 Join
  %section
    %aside
      - form_tag url(:users, :create), :method => "post" do
        %p= text_field_tag :"user[name]", :placeholder => "Name"
        %p= text_field_tag :"user[username]", :placeholder => "Username"
        %p= email_field_tag :"user[email]", :placeholder => "Email"
        %p= password_field_tag :"user[password]", :placeholder => "Password"
        %footer
          %p= button_tag "Join", :class => "btn primary", :type => "submit"