#user
  %section
    %header
      %h3
        Join
        %span / Free
    = partial "partials/flash", :locals => { :flash => flash }
    - form_tag url(:users, :create), :autocomplete => "off", :method => "post" do
      %table
        %tr
          %td
            %label{:for => "user[name]"} Name
          %td
            = text_field_tag :"user[name]", :class => "large", :placeholder => "Neil deGrasse Tyson"
        %tr
          %td
            %label{:for => "user[username]"} Username
          %td
            = text_field_tag :"user[username]", :class => "large", :placeholder => "neiltyson"
        %tr
          %td
            %label{:for => "user[email]"} Email
          %td
            = email_field_tag :"user[email]", :class => "large", :placeholder => "your@email.edu"
        %tr
          %td
            %label{:for => "user[password]"} Password
          %td
            = password_field_tag :"password[password]", :placeholder => "secret"
            = password_field_tag :"password[confirm]", :placeholder => "again"
        %tr
          %td
          %td
            %button.btn.primary{:type => "submit"}
              Join
