#user
  %section
    %header
      %h3
        Join
        %span / Free
    = partial "partials/flash", :locals => { :flash => flash }
    - form_tag url(:users, :create), :method => "post" do
      %table
        %tr
          %td
            %label{:for => "user[name]"} Name
          %td
            = text_field_tag :"user[name]", :placeholder => "Name"
        %tr
          %td
            %label{:for => "user[username]"} Username
          %td
            = text_field_tag :"user[username]", :placeholder => "Username"
        %tr
          %td
            %label{:for => "user[email]"} Email
          %td
            = email_field_tag :"user[email]", :placeholder => "Email"
        %tr
          %td
            %label{:for => "user[password]"} Password
          %td
            = password_field_tag :"password[password]", :placeholder => "Password"
            = password_field_tag :"password[confirm]", :placeholder => "Confirm"
        %tr
          %td
          %td
            %button.btn.primary{:type => "submit"}
              Join