.content
  %aside.col-5.suffix-1
    %figure.avatar
      %img.avatar{src: @user.gravatar}
    %h3= @user.name
    %nav
      %ul.social
        - @user.social.each do |site, value|
          - if value != ''
            %li
              - if site == 'twitter'
                %i.ss-icon.ss-social-regular= site
              - else
                %i.ss-icon= site
              %span
                - if site == 'twitter'
                  = link_to "@#{value}", "https://twitter.com/#{value}"
                - else
                  = value
        - if @user.admin == true
          %li
            %i.ss-icon star
            %span Staff
  %section.col-18.omega
    - cache @projects do
      - if @projects.empty?
        %p.empty This user doesn't have any projects!
      - else
        - @projects.each do |project|
          - cache project do
            = render :partial => 'projects/project', object: project
