#user
  %aside
    %header
      %figure
        %img{:alt => "", :src => @user.gravatar}
      %h2= @user.name
      %hgroup
        %ul
          %li
            %i.ss-icon location
            = @user.location
          %li
            %i.ss-icon globe
            ethnt.me
  %section
    - @projects.each do |project|
      %article
        %header
          .inner
            %a{:href => project.url}
              %h4= project.title
        %section.text
          .inner
            = project.description
        %footer
          .inner
            %p= project.updated_at.localtime.strftime("%e %B %Y, %H:%M")
