#user
  %aside
    %header
      %figure
        %img{:alt => "", :src => @user.gravatar}
      %h2= @user.name
      %hgroup
        %ul
          %li
            %i.ss-icon location
            = @user.location
          %li
            %i.ss-icon globe
            ethnt.me
  %section
    - @projects.each do |project|
      %article
        %header
          %h3= project.title
        %section
          = project.description
        %footer
          %p= project.updated_at
