#user
  %aside
    %header
      %figure
        %img{:alt => "", :src => @user.gravatar}
      %h2= @user.name
      %hgroup
        %ul
          %li
            %i.ss-icon location
            = @user.location
          %li
            %i.ss-icon globe
            ethnt.me
  %section
    - @projects.each do |project|
      %article
        %header
          .inner
            %h3= project.title
        %section.text
          .inner
            = to_html(project.description)
        %footer
          .inner
            %p= project.updated_at
