#user
  %header
    .inner
      %section
        %figure
          %img{:src => @user.gravatar}
        %hgroup
          %h2= @user.name
          %p= @user.location
      %aside
        %a.btn{:href => url(:users, :edit)} Settings
  %section
    %header
      %hgroup
        %h3 Projects
      %aside
        %a.btn{:href => url(:projects, :new)} New Project
    - if !@user.projects.blank?
      - @user.projects.each do |project|
        %article
          %header
            %h3
              %a{:href => project.url}= project.title
            %p= "by <a href='#{url(:users, :view, :user => project.user.username)}'>#{project.user.name}</a>"
          %section
            %p= project.description
    - else
      %article
        %section
          %p No projects!