.content
  = form_for(resource, :html => { :class => "grid-form", method: :post }, :as => resource_name, :url => password_path(resource_name)) do |f|
    = devise_error_messages!
    %fieldset
      %legend Forgot your password?
      %div{'data-row-span' => '1'}
        %div{'data-field-span' => '1'}
          = f.label :email
          = f.email_field :email
      %footer
        = f.submit "Send me reset password instructions"
        = render "devise/shared/links"
