.container
  %header
  = form_for @project, :html => { :class => "grid-form" } do |f|
    %fieldset
      %legend New Project
      %div{'data-row-span' => '1'}
        %div{'data-field-span' => '1'}
          = f.label :title
          = f.text_field :title
      %div{'data-row-span' => '1'}
        %div{'data-field-span' => '1'}
          = f.label :permalink
          = f.text_field :permalink
      %footer
        = f.submit "Create", :class => "green filled"
