.sources
  %header
    %h3 Sources
  %section
    - if current_user && @project.updatable_by?(current_user)
      %header
        %a.btn.full.subtle{:href => "#{@project.url}/sources/new"}
          %i.ss-icon plus
    - @s.each do |source|
      %article
        %section
          %p.text
            = safe(source.citation.html)
        %footer
          .inner
            %aside
              %p= source.updated_at.strftime("%e %b. %Y, %l:%M%P")
            %section
              %a.btn.view{:href => "#{source.url}/#view"}
                %i.ss-icon view
              - if current_user && source.updatable_by?(current_user)
                %a.btn.edit{:href => "#{source.url}/#edit"}
                  %i.ss-icon edit
                - form_tag url(:sources, :destroy), :method => "delete", :class => "inline" do
                  = hidden_field_tag :author, :value => current_user.id
                  = hidden_field_tag :"source[id]", :value => source.id
                  %button.trash{:href => ""}
                    %i.ss-icon trash
  %footer
    %a.btn{:href => url(:sources, :bibliography, :user => @user.username, :project => @project.permalink)} Bibliography
