= render :partial => "projects/header", locals: { project: @view_project, section: :settings }
= content_for(:title, "Settings · #{@view_project.title}")
.content
  = form_tag project_path(id: @view_project.id), method: :patch, class: 'grid-form' do |f|
    %fieldset
      %legend
      %div{'data-row-span' => '1'}
        %div{'data-field-span' => '1'}
          = label_tag 'project[title]', 'Title'
          = text_field_tag 'project[title]', @view_project.title
      %div{'data-row-span' => '1'}
        %div{'data-field-span' => '1'}
          = label_tag 'project[summary]', 'Summary'
          = text_area_tag 'project[summary]', @view_project.summary
      %div{'data-row-span' => '1'}
        %div{'data-field-span' => '1'}
          = label_tag 'project[citation_style]', 'Citation Style'
          = select_tag 'project[citation_style]', Project.style_options(@view_project)
      %footer
        = hidden_field_tag 'project[id]', @view_project.id
        = submit_tag "Save", :class => "green filled"
