#project
  %section
    %header
      %h3
        = Project
        %span / New
    = partial "partials/flash", :locals => { :flash => flash }
    - form_tag url(:projects, :create), :method => "post" do
      = hidden_field_tag :user, :value => current_user.id
      %table
        %tr
          %td
            %label{:for => "project[title]"} Title
          %td
            = text_field_tag :"project[title]", :required => true
        %tr
          %td
            %label{:for => "project[description]"} Description
          %td
            = text_area_tag :"project[description]", :class => "redactor"
        %tr
          %td
          %td
            %button.primary{:type => "submit"}
              %i.ss-icon check

