.container
  = form_tag projects_path, method: :post, class: 'grid-form' do |f|
    %fieldset
      %legend New Project
      %div{'data-row-span' => '1'}
        %div{'data-field-span' => '1'}
          = label_tag 'project[title]', 'Title'
          = text_field_tag 'project[title]'
      %div{'data-row-span' => '1'}
        %div{'data-field-span' => '1'}
          = label_tag 'project[summary]', 'Summary'
          = text_area_tag 'project[summary]'
      %footer
        = submit_tag "Create", :class => "green filled"
