#project
  = partial 'projects/header', :locals => { :project => @project, :user => @user }
  .description
    .inner
      %header
        %h4
          %a.expand
            %i.ss-icon dropdown
            Description

      .text.hidden
        = @project.description
  %section
    = partial 'partials/flash', :locals => { :flash => flash }
    .notes
      %header
        %hgroup
          %h3 Notes
          %ul.tags
        %aside
          - if current_user
            - form_tag url(:notes, :create), :method => "post" do
              = hidden_field_tag :project, :value => @project.id
              = hidden_field_tag :author, :value => current_user.id
              %button{:type => "submit"}
                %i.ss-icon plus
      %section
        - if @notes.blank?
          %p
            - if current_user
              You don't have any notes yet!
            - else
              Nothing to see here, move along...
        - @notes.each do |note|
          %article
            %header
              .inner
                %hgroup
                  %h4
                    %a{:href => note.url}= note.title
                %aside
                  - if current_user
                    %a.btn.edit{:href => note.url}
                      %i.ss-icon edit
                    - form_tag url(:notes, :destroy), :method => "delete", :class => "inline" do
                      = hidden_field_tag :author, :value => current_user.id
                      = hidden_field_tag :"note[id]", :value => note.id
                      %button.trash{:href => ""}
                        %i.ss-icon trash
            %section
              .inner.text
                = truncate_words(note.html, :length => 40)
            %footer
              .inner
                %aside
                  %p= note.updated_at.strftime("%e %b. %Y, %l:%M%P")
                %section
                  %ul.tags
                    - note.tags.each do |t|
                      %li{:"data-value" => t.text}
                        %a.btn{:href => "#"}= t.text
    .sources
      %header
        %hgroup
          %h3 Sources
        %aside
          - if current_user
            %a.btn{:href => "#{@project.url}/sources/new"}
              %i.ss-icon plus
      %section
        - if @sources.blank?
          %p
            - if current_user
              You don't have any sources yet!
            - else
              Nothing to see here, move along...
        - @sources.each do |source|
          %article
            %section
              %p= source.data.to_s
            %footer
              %p= source.updated_at
