#project
  = partial 'projects/header', :locals => { :project => @project, :user => @user }
  .description
    .inner
      %header
        %h4
          %a.expand
            %i.ss-icon dropdown
            Description

      .text.hidden
        = safe(@project.description)
  %section
    = partial 'partials/flash', :locals => { :flash => flash }
    = @notes
    = @sources

  - if current_user
    = partial "partials/comments", :locals => { :comments => @project.comments, :source => { :type => "Project", :id => @project.id } }
