#project
  = partial 'projects/header', :locals => { :project => @project, :user => @user }
  .description
    .inner
      .text
        = @project.description
  %section
    .notes
      %header
        %hgroup
          %h3 Notes
        %aside
          - form_tag url(:notes, :create), :method => "post" do
            = hidden_field_tag :project, :value => @project.id
            = hidden_field_tag :author, :value => current_user.id
            %button{:type => "submit"}
              %i.ss-icon plus
      %section
        - if @notes.blank?
          %p
            You don't have any notes yet!
        - @notes.each do |note|
          %article
            %header
              .inner
                %hgroup
                  %h4
                    %a{:href => note.url}= note.title
                %aside
                  %a.btn.edit{:href => note.url}
                    %i.ss-icon edit
                  - form_tag url(:notes, :destroy), :method => "delete", :class => "inline" do
                    = hidden_field_tag :id, :value => note.id
                    %button.trash{:href => ""}
                      %i.ss-icon trash
            %section
              .inner.text
                = truncate_words(note.body, :length => 40)
            %footer
              .inner
                %p= note.updated_at
    .sources
      %header
        %hgroup
          %h3 Sources
        %aside
          %a.btn{:href => "#{@project.url}/sources/new"}
            %i.ss-icon plus
      %section
        - if @sources.blank?
          %p You don't have any sources yet!
        - @sources.each do |source|
          %article
            %section
              %p= source.data.to_s
            %footer
              %p= source.updated_at
