#project
  = partial 'projects/header', :locals => { :project => @project, :user => @user }
  .description
    .inner
      %header
        %h4
          %a.expand
            %i.ss-icon dropdown
            Description

      .text.hidden
        = @project.description
  %section
    = partial 'partials/flash', :locals => { :flash => flash }
    .notes
      %header
        %hgroup
          %h3 Notes
          %ul.tags
        %aside
          - if current_user
            - form_tag url(:notes, :create), :method => "post" do
              = hidden_field_tag :project, :value => @project.id
              = hidden_field_tag :author, :value => current_user.id
              %button{:type => "submit"}
                %i.ss-icon plus
      %section
        - if @notes.blank?
          %p
            - if current_user
              You don't have any notes yet!
            - else
              Nothing to see here, move along...
        - @notes.each do |note|
          %article.note{:"data-tags" => note.tags_str}
            %header
              .inner
                %hgroup
                  %h4
                    %a{:href => note.url}= note.title
                %aside
                  - if current_user
                    %a.btn.edit{:href => note.url}
                      %i.ss-icon edit
                    - form_tag url(:notes, :destroy), :method => "delete", :class => "inline" do
                      = hidden_field_tag :author, :value => current_user.id
                      = hidden_field_tag :"note[id]", :value => note.id
                      %button.trash{:href => ""}
                        %i.ss-icon trash
            %section
              .inner.text
                = truncate_words(note.html, :length => 40)
            %footer
              .inner
                %aside
                  %p= note.updated_at.strftime("%e %b. %Y, %l:%M%P")
                %section
                  %ul.tags
                    - note.tags.each do |t|
                      %li{:"data-value" => t.text}
                        %a.btn= t.text
    .sources
      %header
        %hgroup
          %h3 Sources
        %aside
          - if current_user
            %a.btn{:href => "#{@project.url}/sources/new"}
              %i.ss-icon plus
      %section
        - if @sources.blank?
          %p
            - if current_user
              You don't have any sources yet!
            - else
              Nothing to see here, move along...
        - @sources.each do |source|
          %article
            %section
              %p= source.data.to_s
            %footer
              %p= source.updated_at

  %footer.comments
    %article
      %aside
        %img{:src => current_user.gravatar}
      %section.text
        .inner
          %p We are the legacy of 15 billion years of cosmic evolution. We have a choice. We can enhance life and come to know the universe that made us, or we can squander our 15 billion year heritage in meaningless self-destruction. What happens in the first second of the next cosmic year depends on what we do, here and now, with our intelligence, and our knowledge of the cosmos.
          %footer
            %p= "<strong>#{current_user.name}</strong> on 29 March 2013 at 19:32"
    %article
      %aside
        %img{:src => current_user.gravatar}
      %section.text
        .inner
          %p We are the legacy of 15 billion years of cosmic evolution. We have a choice. We can enhance life and come to know the universe that made us, or we can squander our 15 billion year heritage in meaningless self-destruction. What happens in the first second of the next cosmic year depends on what we do, here and now, with our intelligence, and our knowledge of the cosmos.
          %footer
            %p= "<strong>#{current_user.name}</strong> on 29 March 2013 at 19:32"

    - @project.comments.each do |comment|
      %article
        %aside
          %img{:src => comment.user.gravatar}
        %section
          = comment.body
    - if current_user
      - form_tag url(:comments, :create), :method => "post" do
        = hidden_field_tag :"comment[_type]", :value => "Project"
        = hidden_field_tag :"comment[_id]", :value => @project.id
        = hidden_field_tag :author, :value => current_user.id.to_s
        = hidden_field_tag :redirect, :value => request.path
        %aside
          %img{:src => current_user.gravatar}
        %section
          %p= text_area_tag :"comment[body]", :placeholder => "Your comment..."
          %footer
            %p= "<strong>#{current_user.name}</strong>"
            %button.primary{:type => "submit"}
              %i.ss-icon check
