#project
  = partial 'projects/header', :locals => { :project => @project, :user => @user }
  .description
    .inner
      %header
        %h4
          %a.expand
            %i.ss-icon dropdown
            Description
      .text.hidden
        = safe(@project.description)
  .activity
    .inner
      %section
        %p= @activity.sentence
        %footer
          %p{:title => @activity.created_at}= "#{time_ago_in_words(@activity.created_at)} ago"
      %aside
        %p
          %a.btn{:href => ""} Activity

  %section
    = partial 'partials/flash', :locals => { :flash => flash }
    = @notes
    = @sources

  - if current_user
    = partial "partials/comments", :locals => { :comments => @project.comments, :source => { :type => "Project", :id => @project.id } }
