!!!
/ %html.debug{lang: "en"}
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/

    %title Noted — Research together.

    %meta{content: "Noted.", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

    = stylesheet_link_tag "application"

    %script{src: "//use.typekit.net/jha3mxj.js"}
    :javascript
      try {
        Typekit.load();
      } catch(e) {}
  %body
    %header#header
      .inner
        %aside
          %ul
            %li.brand
              = link_to "Noted", root_url
        %nav.primary
          %ul
            - if current_user
              %li= link_to "Explore", ""
              %li= link_to "Help", ""
            - else
              %li= link_to "Features", ""
              %li= link_to "Pricing", ""
              %li= link_to "Support", ""
        %nav.secondary
          %ul
            - if current_user
              %li.btn= link_to "Logout", logout_path, class: "btn"
            - else
              %li.btn= link_to "Login", login_path, class: "btn"
              %li.btn= link_to "Join", join_path, class: "btn blue"

    %main#main
      = yield

    %footer#footer
      .inner
        %p= "<a href=''>Noted</a> &copy; #{Time.now.year}".html_safe

    = javascript_include_tag "application"
