!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}

    %meta{:content => "Research together.", :name => "description"}
    %meta{:content => "Noted.", :name => "author"}

    %title Noted.

    %link{:href => "/favicon.ico", :rel => "icon"}
    %link{:href => "/humans.txt", :rel => "author", :type => "text/plain"}
    %link{:href => "/i/application.css", :rel => "stylesheet"}

    %script{:src => "//use.typekit.net/rau7fcj.js", :type => "text/javascript"}
    :coffeescript
      try
        Typekit.load()
      catch error
        console.log error

  %body
    %header
      .contain
        %hgroup
          %h1
            %a{:href => url(:index)} Noted.
        %nav
          - if current_user
            %section
              %ul
                %li
                  %a.tooltip{:href => "", :title => "Coming soon!"} Explore
                %li
                  %a.tooltip{:href => "", :title => "Coming soon!"} Blog
                %li
                  %a.tooltip{:href => "", :title => "Coming soon!"} Help
            %section
              %ul
                %li
                  %a.btn.blue.tooltip{:href => url(:projects, :new), :title => "New Project"}
                    %i.ss-icon plus
                %li
                  %a.btn.turquoise.tooltip{:href => url(:users, :view, :user => current_user.username), :title => "Profile"}
                    %i.ss-icon user
                %li
                  %a.btn.yellow{:href => url(:sessions, :destroy)} Logout
          - else
            %section
              %ul
                %li
                  %a.tooltip{:href => "", :title => "Coming soon!"} Explore
                %li
                  %a.tooltip{:href => "", :title => "Coming soon!"} Blog
                %li
                  %a{:href => url(:support)} Help
            %section
              %ul
                %li
                  %a.btn.primary{:href => url(:users, :new)} Join
                %li
                  %a.btn{:href => url(:sessions, :new)} Login

    #main{:role => "main"}
      = yield

    %footer
      .contain
        %nav
          %ul
            %li
              %a{:href => url(:about)} About
            %li
              %a.tooltip{:href => "", :title => "Coming soon!"} Pricing
            %li
              %a.tooltip{:href => "", :title => "Coming soon!"} Documentation
            %li
              %a{:href => url(:support)} Support
            %li
              %a.tooltip{:href => "", :title => "Coming soon!"} Blog
            %li
              %a.tooltip{:href => "", :title => "Coming soon!"} Imprint
        %p= "Noted fecit #{Time.now.year}. Made in Connecticut."

    %script{:src => "/i/application.js"}

/
  version:     #{NOTED_VERSION}
  commit:      #{COMMIT}
  branch:      #{BRANCH}
  environment: #{PADRINO_ENV}
