!!!
/ %html.debug{lang: "en"}
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/

    %title Noted — Research together.

    %meta{content: "Noted.", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

    = stylesheet_link_tag "application"

    %script{src: "//use.typekit.net/jha3mxj.js"}
    :javascript
      try {
        Typekit.load();
      } catch(e) {}
  %body
    %header#header
      .inner
        %aside
          %ul
            %li.brand
              = link_to "Noted", root_url
        %nav.primary
          %ul
            %li= link_to "Features", ""
            %li= link_to "Pricing", ""
            %li= link_to "Support", ""
        %nav.secondary
          %ul
            %li.btn= link_to "Login", "", class: "btn"
            %li.btn= link_to "Join", "", class: "btn blue"

    %main#main
      %header.project-header
        .inner
          %aside
            %ul
              %li.project
                %h2= link_to "The Cosmos", ""
                %p= "<a href=''>Neil deGrasse Tyson</a>, <a href=''>Bill Nye</a>".html_safe
          %nav
            %ul
              %li.active
                %span= link_to "Dashboard", ""
              %li
                %span= link_to "Notes", ""
              %li
                %span= link_to "Sources", ""
              %li
                %span= link_to "Files", ""
              %li
                %span= link_to "Settings", ""

      .content.dashboard
        %header.content-header
          %h3 Dashboard

        .elements
          %section.notes
            %header
              %h4 Notes
            %article.note
              %header
                %h5= link_to "The Milky Way", ""
              %section
                %p Corpus callosum cosmic fugue. Concept of the number one, descended from astronomers. Colonies citizens of distant epochs descended from astronomers birth another world vanquish the impossible globular star cluster made in the interiors of collapsing stars, colonies made in the interiors of collapsing stars.
              %footer
                %ul.contributors
                  %li
                    %a{href: ""}
                      %img.avatar{src: "http://www-tc.pbs.org/wgbh/nova/sciencenow/about/images/abou-tyson2.jpg"}
                  %li
                    %a{href: ""}
                      %img.avatar{src: "http://static.squarespace.com/static/51411c53e4b0d6e2ee875cd6/t/524ed8b7e4b00044d63966c1/1380899025221/Bill_Nye_Science_Guy.JPG?format=500w"}
                %p.meta Posted on 25 February

          %section.sources
            %header
              %h4 Sources
            %article.source
              %section
                %p Adams, Douglas. <em>The Salmon of Doubt</em>. London: William Heinemann, 2002. Print.
              %footer
                %ul.contributors
                  %li
                    %a{href: ""}
                      %img.avatar{src: "http://www-tc.pbs.org/wgbh/nova/sciencenow/about/images/abou-tyson2.jpg"}
                  %li
                    %a{href: ""}
                      %img.avatar{src: "http://static.squarespace.com/static/51411c53e4b0d6e2ee875cd6/t/524ed8b7e4b00044d63966c1/1380899025221/Bill_Nye_Science_Guy.JPG?format=500w"}
                %p.meta Posted on 25 February

          %section.files
            %header
              %h4 Files
            %article.file
              %a{href: ""}
                %i.ss-icon document
                %span document.docx
            %article.file
              %a{href: ""}
                %i.ss-icon document
                %span document.docx
            %article.file
              %a{href: ""}
                %i.ss-icon audio
                %span file.mp3

    = javascript_include_tag "application"
