!!!
/ %html.debug{lang: "en"}
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/

    %title Noted — Research together.

    %meta{content: "Noted.", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

    = stylesheet_link_tag "application"

    %script{src: "//use.typekit.net/jha3mxj.js"}
    :javascript
      try {
        Typekit.load();
      } catch(e) {}
  %body
    %header#header
      .inner
        %aside
          %ul
            %li.brand
              = link_to "Noted", root_url
        %nav.primary
          %ul
            %li= link_to "Features", ""
            %li= link_to "Pricing", ""
            %li= link_to "Support", ""
        %nav.secondary
          %ul
            %li.btn= link_to "Login", "", class: "btn"
            %li.btn= link_to "Join", "", class: "btn blue"

    %main#main
      %header.project-header
        .inner
          %aside
            %ul
              %li.project
                %h2= link_to "The Cosmos", ""
                %p= "<a href=''>Neil deGrasse Tyson</a>, <a href=''>Bill Nye</a>".html_safe
          %nav
            %ul
              %li.active
                %span= link_to "Dashboard", ""
              %li
                %span= link_to "Notes", ""
              %li
                %span= link_to "Sources", ""
              %li
                %span= link_to "Files", ""
              %li
                %span= link_to "Settings", ""

    = javascript_include_tag "application"
